{% extends 'base.html' %}
{% block content %}

    <h1>Verbiage Details</h1>

    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ verbiage.word }} ({{ verbiage.language }})</span>
            <p>Definition: {{ verbiage.definition }}</p>
        </div>
        <div class="card-action">
            <a href="{% url 'verbiages_update' verbiage.id %}">Edit</a>
            <a href="{% url 'verbiages_delete' verbiage.id %}">Delete</a>
        </div>
    </div>

{% endblock %}