# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\General Assembly\my-dev-skills-lab\VerbiageVoyage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
